.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### NetBeans ###
/SpringCloudTest_UserProvider/classes/*
/SpringCloudTest_UserProvider/target/*
/SpringCloudTest_UserProvider/log/*

/SpringCloudTest_MovieProvider/classes/*
/SpringCloudTest_MovieProvider/target/*
/SpringCloudTest_MovieProvider/log/*
