.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### NetBeans ###
/log/*

/SpringCloudTest_UserProvider/classes/*
/SpringCloudTest_UserProvider/target/*
/SpringCloudTest_UserProvider/log/*

/SpringCloudTest_UserProvider_ribbon/classes/*
/SpringCloudTest_UserProvider_ribbon/target/*
/SpringCloudTest_UserProvider_ribbon/log/*

/SpringCloudTest_MovieProvider/classes/*
/SpringCloudTest_MovieProvider/target/*
/SpringCloudTest_MovieProvider/log/*

/SpringCloudTest_MovieProvider_feign/classes/*
/SpringCloudTest_MovieProvider_feign/target/*
/SpringCloudTest_MovieProvider_feign/log/*

/SpringCloudTest_EurekaServerTest/classes/*
/SpringCloudTest_EurekaServerTest/target/*
/SpringCloudTest_EurekaServerTest/log/*

/SpringCloudTest_EurekaServerTest_authenticating/classes/*
/SpringCloudTest_EurekaServerTest_authenticating/target/*
/SpringCloudTest_EurekaServerTest_authenticating/log/*

/SpringCloudTest_EurekaServerTest_ha/classes/*
/SpringCloudTest_EurekaServerTest_ha/target/*
/SpringCloudTest_EurekaServerTest_ha/log/*